.head-con{
   height: 70px;
}
.hidden,.hide{
    display: none;
}
.header--standard-landing.headroom--not-top{background-color: transparent;}
.img-wrap .logo-colored{display: none;}
.header--standard-landing.headroom--not-top .logo,
.header--standard-landing.headroom--not-top .logo .logo-title{color: #fff;}

/*.header--standard-landing.headroom--not-top .header-menu .nav-item a,
.header--standard-landing.headroom--not-top .header-menu .nav-item a:hover,
.header--standard-landing.headroom--not-top .header-menu li .nav-link,
.header--standard-landing.headroom--not-top .header-menu li .nav-link:hover
{color: #fff;}*/

.error-span{
    background: #ef0a0a61;
    color: #900909;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
}
.profileimg{
    width: 110px;
    height: 110px;
    margin-top: 5px;
}
p.cangecover {
    position: absolute;
    z-index:1;
    padding: 13px;
    background: #00000080;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
	display:none;
	right: 0px;
    top: 0px;
}
